.bottom_heading{
    width: 100%;
    margin: 60px 0;
}
.bottom_heading h2{
    font-size: 2.8rem;
    font-weight: 800;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.gallery-item {
    width: 30%;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
}

.gallery-item:hover {
    transform: scale(1.05);
}